body {
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: hsl(4, 72%, 72%);
  text-align: left;
  font-size: 4rem;
  padding: 20px 30px;
}

.icon {
  width: 5rem;
  align-content: center;
}

ul {
  margin-top: 1rem;
  padding: 0;
  width: 80%;
}

ul li {
  cursor: pointer;
  position: relative;
  background: rgb(231, 243, 247);
  font-size: 1.8rem;
  transition: 0.2s;
  padding: 1.2rem 4rem;
  list-style: none;
  border-radius: 3rem;
}

ul li:nth-child(even) {
  background: white;
}

ul li:hover {
  background: #888;
}

ul li.checked {
  background: rgb(32, 32, 32);
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 1.3rem;
  left: 1.6rem;
  transform: rotate(45deg);
  height: 1.5rem;
  width: 0.7rem;
}

.edit {
  background-color: rgba(63, 184, 79, 0.815);
  font-size: 1rem;
  color: white;
  width: 5rem;
  height: 2rem;
  border-radius: 1rem;
  float: right;
}

.edit:hover {
  background-color: darkolivegreen;
  font-weight: bold;
  color: black;
}

.close {
  background-color: rgb(197, 48, 48);
  font-size: 1rem;
  color: white;
  width: 5rem;
  height: 2rem;
  border-radius: 1rem;
  float: right;
}

.close:hover {
  background-color: #f44336;
  font-weight: bold;
  color: black;
}

.add {
  width: 13%;
  background: dodgerblue;
  color: rgb(247, 245, 250);
  text-align: center;
  font-size: 1.6rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 2rem;
  padding: 10px;
}

.add:hover {
  background-color: #402abe;
}

#new_task {
  border: 3px solid lightcyan;
  border-radius: 4rem;
  width: 65%;
  padding: 10px;
  font-size: 1.6rem;
}

.list {
  border: 0;
}

.input {
  display: flex;
}

.layout {
  display: block;
  justify-content: left;
  width: 70%;
}
